[/- include("../partials/header.ejs") /]

<body style="width: 90%; margin: auto;">

    <h1>Proyectos de [/= beneficiario.Nombre/]</h1>

    <table class="table table-hover">
        <th>Proyectos Activos</th>
        <th>Programa</th>
        <th>Borrar</th>
        [/ for (var i=0; i < gruposAgregados.length; i++) { /] 
            <tr>
                <td>[/=gruposAgregados[i].Grupo/]</td>
                <td>[/=gruposAgregados[i].Proyecto/]</td>
                <td><a href="/beneficiarios/grupos/borrar/[/= beneficiario.id_beneficiario/]/[/=gruposAgregados[i].id_grupo/]" 
                    class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres borrar al beneficiario de este grupo?')">
                    Borrar</a></td>
            </tr>
        [/ } /]
    </table>

    <h3>Agregar a un Proyecto</h3>
    <form action="/beneficiarios/grupos/[/=beneficiario.id_beneficiario/]" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="selectGrupo">Proyectos</label>
            </div>
            <select class="custom-select" id="grupo" name="id_grupo">
                [/ for (var i=0; i < grupos.length; i++) { /] <option value="[/=grupos[i].id_grupo/]">
                    [/= grupos[i].Grupo; /]
                    </option>
                    [/ } /]
            </select>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
    <br>
    <a class=" btn btn-danger btn-lg" href="/beneficiarios">Salir</a>
    [/- include("../partials/scripts.ejs") /]
</body>

</html>