[/- include("../partials/header.ejs") /]

<body style="margin:auto; width: 90%;">
    <form method="post" action="/beneficiarios/editar/[/=beneficiario.id_beneficiario/]">
        <h1>Editar un Beneficiario</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="form-outline">
                    <input type="text" id="nombre" class="form-control form-control-lg" name="nombre"
                        value="[/= beneficiario.Nombre /]" />
                    <label class="form-label" for="nombre">Nombre(s)</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-outline">
                    <input type="text" id="apellidoP" class="form-control form-control-lg" name="apellidoP"
                        value="[/= beneficiario['Apellido Paterno'] /]" />
                    <label class="form-label" for="apellidoP">Apellido Paterno</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-outline">
                    <input type="text" id="apellidoM" class="form-control form-control-lg" name="apellidoM"
                        value="[/= beneficiario['Apellido Materno'] /]" />
                    <label class="form-label" for="apellidoM">Apellido Materno</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 d-flex align-items-center">
                <div class="form-outline datepicker w-100">
                    <input type="date" class="form-control form-control-lg" id="fechaNacimiento" name="fechaNacimiento"
                        value="[/= beneficiario['Fecha de Nacimiento'].toISOString().substring(0, 10) /]" />
                    <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Sexo </h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino" [/ if
                        (beneficiario.Sexo=='Femenino' ){/] checked [/ } /] />
                    <label class="form-check-label" for="femenino">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="masculino" value="Masculino" [/ if
                        (beneficiario.Sexo=='Masculino' ){/] checked [/ } /] />
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="form-outline">
                    <input type="text" id="calle" class="form-control form-control-lg" name="calle"
                        value="[/= beneficiario.Calle /]" />
                    <label class="form-label" for="calle">Calle</label>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="form-outline">
                    <input type="text" id="noExt" class="form-control form-control-lg" name="noExt"
                        value="[/= beneficiario.NoExt /]" />
                    <label class="form-label" for="noExt">No. Exterior</label>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="form-outline">
                    <input type="text" id="colonia" class="form-control form-control-lg" name="colonia"
                        value="[/= beneficiario.Colonia /]" />
                    <label class="form-label" for="colonia">Colonia</label>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="form-outline">
                    <input type="text" id="municipio" class="form-control form-control-lg" name="municipio"
                        value="[/= beneficiario.Municipio /]" />
                    <label class="form-label" for="municipio">Municipio</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                    <input type="text" id="etnia" class="form-control form-control-lg" name="etnia"
                        value="[/= beneficiario.Etnia /]" />
                    <label class="form-label" for="etnia">Etnia</label>
                </div>
            </div>
            <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                    <input type="text" id="grado" class="form-control form-control-lg" name="grado"
                        value="[/= beneficiario['Grado Escolar'] /]" />
                    <label class="form-label" for="grado">Grado Escolar</label>
                </div>
            </div>
        </div>
        </div>
        <a class=" btn btn-secondary btn-lg" href="/beneficiarios/grupos/[/=beneficiario.id_beneficiario/]">Grupos</a>
        <div class="mt-4 pt-2"">
            <a class=" btn btn-danger btn-lg" href="/beneficiarios">Cancelar</a>
            <input class=" btn btn-primary btn-lg" type="submit" value="Guardar">
        </div>
    </form>
    [/- include("../partials/scripts.ejs") /]
</body>

</html>