[/- include("../partials/header.ejs") /]

<body>
    <h1>Grupos</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="selectGrupo">Grupos</label>
        </div>
        <select class="custom-select" id="selectGrupo">
            [/ for (var i=0; i < grupos.length; i++) { /] <option value="[/=grupos[i].Grupo/]">
                [/= grupos[i].Grupo; /]
                </option>
                [/ } /]
        </select>
        <button id="filtrar" type="button" class="btn btn-primary">Filtrar</button>
    </div>

    <table class="table table-hover" id="query"></table>

    <button id="botonDescarga" type="button" class="btn btn-primary">Descargar CSV </button>

    [/- include("../partials/scripts.ejs") /]

    <script>
        $('#botonDescarga').on('click', function () {
            var grupoSeleccionado = $("#selectGrupo").val();
            $('#query').table2csv({ filename: grupoSeleccionado + '.csv' });
        })
    </script>

    <script>
        $('#filtrar').on('click', function () {
            var grupoSeleccionado = $("#selectGrupo").val();
            var beneficiarios = [/- JSON.stringify(beneficiarios) /];
            var miembros = [];
            for (i = 0; i < beneficiarios.length; i++) {
                if (beneficiarios[i].Grupo == grupoSeleccionado) {
                    miembros.push(beneficiarios[i])
                }
            }
            var tabla = document.getElementById("query")
            datos = 
            `<tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Grupo</th>
            </tr>`;
            for (i = 0; i < miembros.length; i++){
                datos += 
                '<tr>' + 
                    '<td>' + miembros[i].id_beneficiario + '</td>' +
                    '<td>' + miembros[i].Nombre + '</td>' +
                    '<td>' + new Date(miembros[i]['Fecha de Nacimiento']).toLocaleDateString('es-ES') + '</td>' +
                    '<td>' + miembros[i].Grupo + '</td>' +
                '</tr>';
            }
            tabla.innerHTML = datos;
        })
    </script>

</body>

</html>