[/- include("../partials/header.ejs") /]

<body>
    <h1>Beneficiarios</h1>
    <div class = "d-flex flex-row bg-info">
        <input type="text" class="form-control" id="barraBusqueda" placeholder="Buscar Beneficiario">
        <button type="button" class="btn btn-secondary" id="botonLimpiar"> Limpiar </button>
        <button type="button" class="btn btn-primary" id="botonBusqueda"> Buscar </button>
    </div>
    <table class="table table-hover" id="tabla">
        <tr>
            <th data-column="id_beneficiario" data-order="desc">ID</th>
            <th data-column="Nombre" data-order="desc">Nombre</th>
            <th data-column="Fecha de Nacimiento" data-order="desc">Fecha de Nacimiento</th>
            <th data-column="Edad" data-order="desc">Edad</th>
            <th data-column="Sede" data-order="desc">Sede</th>
        </tr>
        <tbody id="cuerpoTabla"></tbody>
    </table>

    <button id="botonDescarga" type="button" class="btn btn-primary"> Descargar CSV </button>

    [/- include("../partials/scripts.ejs") /]

    <script>
        $('#botonDescarga').on('click', function () {
            $('#tabla').table2csv({ filename: 'Beneficiarios.csv' });
        })
    </script>

    <script>
        var beneficiarios = [/- JSON.stringify(beneficiarios) /];
        poblarTabla(beneficiarios);

        $('#botonBusqueda').on('click', function () {
            var valor = $('#barraBusqueda').val();
            var data = buscarTabla(valor, beneficiarios);
            poblarTabla(data);
        })
        $('#botonLimpiar').on('click', function () {
            $('#barraBusqueda').val('')
            poblarTabla(beneficiarios);
        })

        $('th').on('click', function () {
            var col = $(this).data('column');
            var ord = $(this).data('order');
            if (ord == 'desc') {
                $(this).data('order', 'asc');
                beneficiarios = beneficiarios.sort((a, b) => a[col] > b[col] ? 1 : -1)
            } else {
                $(this).data('order', 'desc');
                beneficiarios = beneficiarios.sort((a, b) => a[col] < b[col] ? 1 : -1)
            }
            poblarTabla(beneficiarios)
        })

        function poblarTabla(beneficiarios) {
            var cuerpoTabla = document.getElementById("cuerpoTabla");
            var fechaActual = new Date();
            cuerpoTabla.innerHTML = '';
            for (i = 0; i < beneficiarios.length; i++) {
                var cumple = new Date(beneficiarios[i]['Fecha de Nacimiento']);
                var edad = Math.floor((fechaActual-cumple)/31557600000);
                var fila =
                    '<tr>' +
                    '<td>' + beneficiarios[i].id_beneficiario + '</td>' +
                    '<td>' + beneficiarios[i].Nombre + '</td>' +
                    '<td>' + cumple.toLocaleDateString('es-ES') + '</td>' +
                    '<td>' + edad + '</td>' +
                    '<td>' + beneficiarios[i].Sede + '</td>' +
                    '</tr>';
                cuerpoTabla.innerHTML += fila;
            }
        }
        function buscarTabla(valor, data) {
            var dataFiltrada = [];
            for (i = 0; i < data.length; i++) {
                valor = valor.toLowerCase();
                var nombre = data[i].Nombre.toLowerCase();
                var fecha = data[i]['Fecha de Nacimiento'];
                var sede = data[i].Sede.toLowerCase();
                if (nombre.includes(valor) || fecha.includes(valor) || sede.includes(valor)) {
                    dataFiltrada.push(data[i]);
                }
            }
            return dataFiltrada;
        }
    </script>
</body>

</html>