[/- include("../partials/header.ejs") /]

<body style="width: 90%; margin: auto;">
    <h1>Beneficiarios</h1>
    <div class="d-flex flex-row bg-info">
        <input type="text" class="form-control" id="barraBusqueda" placeholder="Buscar Beneficiario">
        <button type="button" class="btn btn-secondary" id="botonLimpiar"> Limpiar </button>
        <button type="button" class="btn btn-primary" id="botonBusqueda"> Buscar </button>
    </div>
    <br>
    <button id="botonDescarga" type="button" class="btn btn-success"> Descargar CSV </button>
    <a class="btn btn-primary" href="/beneficiarios/agregar">Agregar Beneficiario</a>
    <a class="btn btn-primary" href="/grupos">Ver Proyectos</a>
    <a class="btn btn-primary" href="/programas">Ver Programas</a>
    <a class="btn btn-primary" href="/atributos">Modificar Campos</a>
    <a class="btn btn-warning" href="/auth/registrar">Modificar Usuarios</a>
    <a class="btn btn-danger" href="/auth/login">Cerrar Sesión</a>     
    <table class="table table-hover" id="tabla">
        <tr>
            <th data-column="id_beneficiario" data-order="desc">ID</th>
            <th data-column="Nombre" data-order="desc">Nombre(s)</th>
            <th data-column="ApellidoP" data-order="desc">Apellido Paterno</th>
            <th data-column="ApellidoM" data-order="desc">Apellido Materno</th>
            <th data-column="Sexo" data-order="desc">Sexo</th>
            <th data-column="Fecha de Nacimiento" data-order="desc">Fecha de Nacimiento</th>
            <th data-column="Edad" data-order="desc">Edad</th>
            <th data-column="Calle" data-order="desc">Calle</th>
            <th data-column="NoExt" data-order="desc">No. Ext</th>
            <th data-column="Colonia" data-order="desc">Colonia</th>
            <th data-column="Municipio" data-order="desc">Municipio</th>
            <th data-column="Etnia" data-order="desc">Etnia</th>
            <th data-column="GradoEscolar" data-order="desc">Grado Escolar</th>
            <th data-column="Fecha Agregado" data-order="desc">Fecha Agregado</th>
            <th data-column="Agregado Por" data-order="desc">Agregado Por</th>
            <th class="excluir">Editar</th>
            <th class="excluir">Eliminar</th>
        </tr>
        <tbody id="cuerpoTabla"></tbody>
    </table>

    [/- include("../partials/scripts.ejs") /]

    <script>
        $('#botonDescarga').on('click', function () {
            $('#tabla').table2csv({ filename: 'Beneficiarios.csv', excludeColumns: '.excluir' });
        })
    </script>

    <script>
        var beneficiarios = [/- JSON.stringify(beneficiarios) /];
        poblarTabla(beneficiarios);

        $('#botonBusqueda').on('click', function () {
            var valor = $('#barraBusqueda').val();
            var data = buscarTabla(valor, beneficiarios);
            poblarTabla(data);
        })
        $('#botonLimpiar').on('click', function () {
            $('#barraBusqueda').val('')
            poblarTabla(beneficiarios);
        })

        $('th').on('click', function () {
            var col = $(this).data('column');
            var ord = $(this).data('order');
            if (ord == 'desc') {
                $(this).data('order', 'asc');
                beneficiarios = beneficiarios.sort((a, b) => a[col] > b[col] ? 1 : -1)
            } else {
                $(this).data('order', 'desc');
                beneficiarios = beneficiarios.sort((a, b) => a[col] < b[col] ? 1 : -1)
            }
            poblarTabla(beneficiarios)
        })

        function poblarTabla(beneficiarios) {
            var cuerpoTabla = document.getElementById("cuerpoTabla");
            var fechaActual = new Date();
            cuerpoTabla.innerHTML = '';
            for (i = 0; i < beneficiarios.length; i++) {
                var dNacimiento = beneficiarios[i]['Fecha de Nacimiento'].split('-')[0];
                var mNacimiento = beneficiarios[i]['Fecha de Nacimiento'].split('-')[1];
                var aNacimiento = beneficiarios[i]['Fecha de Nacimiento'].split('-')[2];
                aNacimiento = aNacimiento.substr(0,2);
                var fechaNacimiento = dNacimiento + '-' + mNacimiento + '-' + aNacimiento;

                var dAgregado = beneficiarios[i]['Fecha Agregado'].split('-')[0];
                var mAgregado = beneficiarios[i]['Fecha Agregado'].split('-')[1];
                var aAgregado = beneficiarios[i]['Fecha Agregado'].split('-')[2];
                aAgregado = aAgregado.substr(0,2);
                var fechaAgregado = dAgregado + '-' + mAgregado + '-' + aAgregado;

                var cumple = new Date(fechaNacimiento);
                var agregado = new Date(fechaAgregado);
                var edad = Math.floor((fechaActual - cumple) / 31557600000);
                var fila =
                    '<tr>' +
                    '<td>' + beneficiarios[i].id_beneficiario + '</td>' +
                    '<td>' + beneficiarios[i].Nombre + '</td>' +
                    '<td>' + beneficiarios[i]['Apellido Paterno'] + '</td>' +
                    '<td>' + beneficiarios[i]['Apellido Materno'] + '</td>' +
                    '<td>' + beneficiarios[i].Sexo + '</td>' +
                    '<td>' + formatDate(cumple) + '</td>' +
                    '<td>' + edad + '</td>' +
                    '<td>' + beneficiarios[i].Calle + '</td>' +
                    '<td>' + beneficiarios[i].NoExt + '</td>' +
                    '<td>' + beneficiarios[i].Colonia + '</td>' +
                    '<td>' + beneficiarios[i].Municipio + '</td>' +
                    '<td>' + beneficiarios[i].Etnia + '</td>' +
                    '<td>' + beneficiarios[i]['Grado Escolar'] + '</td>' +
                    '<td>' + formatDate(agregado) + '</td>' +
                    '<td>' + beneficiarios[i]['Agregado Por'] + '</td>' +
                    `<td class="excluir"><a href="/beneficiarios/editar/${beneficiarios[i].id_beneficiario}" 
                        class="btn btn-secondary">Editar</a></td>` +
                    `<td class="excluir"><a href="/beneficiarios/borrar/${beneficiarios[i].id_beneficiario}" class="btn btn-danger"
                        onclick="return confirm('¿Estás seguro de que quieres borrar este beneficiario?')" >Borrar</a></td>` +
                    '</tr>';
                cuerpoTabla.innerHTML += fila;
            }
        }
        function buscarTabla(valor, data) {
            var dataFiltrada = [];
            for (i = 0; i < data.length; i++) {
                valor = valor.toLowerCase();
                var id = String(data[i].id_beneficiario)
                var nombre = data[i].Nombre.toLowerCase();
                var apellidoP = data[i]['Apellido Paterno'].toLowerCase();
                var apellidoM = data[i]['Apellido Materno'].toLowerCase();
                var sexo = data[i].Sexo.toLowerCase();
                var fechaNacimiento = data[i]['Fecha de Nacimiento'];
                var calle = data[i].Calle.toLowerCase();
                var noExt = data[i].NoExt.toLowerCase();
                var colonia = data[i].Colonia.toLowerCase();
                var municipio = data[i].Municipio.toLowerCase();
                var etnia = data[i].Etnia.toLowerCase();
                var grado = data[i]['Grado Escolar'].toLowerCase();
                var fechaAgregado = data[i]['Fecha Agregado'];
                var agregadoPor = data[i]['Agregado Por'].toLowerCase();

                if (nombre.includes(valor)
                    || fechaNacimiento.includes(valor)
                    || apellidoP.includes(valor)
                    || apellidoM.includes(valor)
                    || sexo.includes(valor)
                    || calle.includes(valor)
                    || noExt.includes(valor)
                    || colonia.includes(valor)
                    || municipio.includes(valor)
                    || etnia.includes(valor)
                    || grado.includes(valor)
                    || fechaAgregado.includes(valor)
                    || agregadoPor.includes(valor)) {
                    dataFiltrada.push(data[i]);
                }
            }
            return dataFiltrada;
        }
    </script>
    <script src="js/table2csv.min.js"></script>
</body>

</html>