[/- include("../partials/header.ejs") /]
<body>
    <h1>Beneficiarios</h1>
    <table class="table table-hover" id="query">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Sede</th>
        </tr>

        [/ for (var i=0; i < beneficiarios.length; i++) { /]
            <tr>
                <td>
                    [/= beneficiarios[i].id_beneficiario /]
                </td>
                <td>
                    [/= beneficiarios[i].Nombre /]
                </td>
                <td>
                    [/= beneficiarios[i]['Fecha de Nacimiento'].toLocaleDateString('es-ES') /]
                </td>
                <td>
                    [/= beneficiarios[i].Sede /]
                </td>
            </tr>
            [/ } /]
    </table>

    <button id="botonDescarga" type="button" class="btn btn-primary"> Descargar CSV </button>

    [/- include("../partials/scripts.ejs") /]

    <script>
        $('#botonDescarga').on('click', function(){
            $('#query').table2csv({filename: 'Beneficiarios.csv'});
        })
    </script>
</body>

</html>