[/- include("../partials/header.ejs") /]

<body style="margin:auto; width: 90%;">
    <h1>Programas</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="selectProyecto">Proyectos</label>
        </div>
        <select class="custom-select" id="selectProyecto">
            <option value="" disabled selected>Escoge un Programa</option>
            [/ for (var i=0; i < proyectos.length; i++) { /] 
                <option value="[/=proyectos[i].Proyecto/]">
                [/= proyectos[i].Proyecto; /]
                </option>
                [/ } /]
        </select>
        <button id="filtrar" type="button" class="btn btn-primary">Filtrar</button>
    </div>

    <button id="botonDescarga" type="button" class="btn btn-success">Descargar CSV </button>
    <a class="btn btn-primary" href="/programas/editar">Editar Programas</a>   
    <a class="btn btn-secondary" href="/beneficiarios">Volver</a>   
    <br>
    <table class="table table-hover" id="tabla">
        <tr>
            <th data-column="Nombre(s)" data-order="desc">Nombre</th>
            <th data-column="ApellidoP" data-order="desc">Apellido Paterno</th>
            <th data-column="ApellidoM" data-order="desc">Apellido Materno</th>
            <th data-column="Sexo" data-order="desc">Sexo</th>
            <th data-column="Fecha de Nacimiento" data-order="desc">Fecha de Nacimiento</th>
            <th data-column="Edad" data-order="desc">Edad</th>
            <th data-column="Calle" data-order="desc">Calle</th>
            <th data-column="NoExt" data-order="desc">No. Ext</th>
            <th data-column="Colonia" data-order="desc">Colonia</th>
            <th data-column="Municipio" data-order="desc">Municipio</th>
            <th data-column="Etnia" data-order="desc">Etnia</th>
            <th data-column="GradoEscolar" data-order="desc">Grado Escolar</th>
            <th data-column="Fecha Agregado" data-order="desc">Fecha Agregado</th>
            <th data-column="Grupo" data-order="desc">Grupo</th>
        </tr>
        <tbody id="cuerpoTabla"></tbody>
    </table>

    [/- include("../partials/scripts.ejs") /]

    <script>
        $('#botonDescarga').on('click', function () {
            var proyectoSeleccionado = $("#selectProyecto").val();
            $('#tabla').table2csv({ filename: proyectoSeleccionado + '.csv' });
        })
    </script>

    <script>
        $('#filtrar').on('click', function () {
            var proyectoSeleccionado = $("#selectProyecto").val();
            var beneficiarios = [/- JSON.stringify(beneficiarios) /];
            var miembros = [];
            var miembroActual = '';
            for (i = 0; i < beneficiarios.length; i++) {
                if (beneficiarios[i].Proyecto == proyectoSeleccionado) {
                    if (beneficiarios[i].id_beneficiario != miembroActual){
                        miembros.push(beneficiarios[i]);
                        miembroActual = beneficiarios[i].id_beneficiario;
                    }
                }
            }
            var cuerpoTabla = document.getElementById("cuerpoTabla");
            var fechaActual = new Date();
            cuerpoTabla.innerHTML = '';
            for (i = 0; i < miembros.length; i++){
                var cumple = new Date(miembros[i]['Fecha de Nacimiento']);
                var agregado = new Date(miembros[i]['Fecha Agregado']);
                var edad = Math.floor((fechaActual - cumple) / 31557600000);
                var fila = 
                '<tr>' +
                    '<td>' + miembros[i].Nombre + '</td>' +
                    '<td>' + miembros[i]['Apellido Paterno'] + '</td>' +
                    '<td>' + miembros[i]['Apellido Materno'] + '</td>' +
                    '<td>' + miembros[i].Sexo + '</td>' +
                    '<td>' + cumple.toLocaleDateString('es-ES') + '</td>' +
                    '<td>' + edad + '</td>' +
                    '<td>' + miembros[i].Calle + '</td>' +
                    '<td>' + miembros[i].NoExt + '</td>' +
                    '<td>' + miembros[i].Colonia + '</td>' +
                    '<td>' + miembros[i].Municipio + '</td>' +
                    '<td>' + miembros[i].Etnia + '</td>' +
                    '<td>' + miembros[i]['Grado Escolar'] + '</td>' +
                    '<td>' + agregado.toLocaleDateString('es-ES') + '</td>' +
                    '<td>' + miembros[i].Grupo + '</td>' +
                '</tr>';
                cuerpoTabla.innerHTML += fila;
            }
        })
    </script>
    <script src="js/table2csv.min.js"></script>
</body>

</html>